<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../public/css/styles.css" rel="stylesheet" type="text/css" />
    <link rel=" preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet" />
    <title>Product detail</title>
</head>

<body>
    <aside class="product-detail">
        <div class="product-detail-close">
            <img src="../public/images/icons/icon_close.png" alt="close">
        </div>
        <img src="../public/images/assets/bike-photo.jpeg" alt="bike">
        <div class="dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
   </div>
        <div class="product-info">
            <p>$120,00</p>
            <p>Bike</p>
            <p>An ideal bike for the city or the country.
                Go beyond with this amazing bike!</p>
            <button class="primary-button add-to-cart-button"> <img src="../public/images/icons/bt_add_to_cart.svg"
                    alt="Add to cart">Add to cart</button>
        </div>
    </aside>
</body>

</html>